<h1>マイページPublic::Customers#show</h1>
<p>Find me in app/views/public/customers/show.html.erb</p>

<h4>登録情報</h4>
 <%= link_to "編集する", edit_public_customer_path(@customer.id) %>
<h4>配送先</h4>
<h4>注文履歴</h4>