<h1>Admin::Items#show</h1>
<p>Find me in app/views/admin/items/show.html.erb</p>

<h4>商品詳細</h4>
<%= form_with model: @item, url: admin_items_path do |f| %>
 <p>商品名</p>
 <p>商品説明</p>
 <p>ジャンル</p>
 <p>税込価格</br>(税抜価格)</p>円
 <p>販売ステータス</p>
<%= f.submit '編集する', edit_admin_item_path(params[:id]) %>