<h1>会員一覧Admin::Customers#index</h1>
<p>Find me in app/views/admin/customers/index.html.erb</p>

<% @cuatomers.each do |customer| %>
 <p>会員ID</p><%= customer.id %>
 <p>氏名</p><%= customer.name %>
 <p>メールアドレス</p><%= customer.email %>
 <p>ステータス</p>
  <% if cua.is_active %>
   <p>販売中</p>
  <% else %>
   <p>販売停止中</p>
  <% end%>

<% end %>